body {
    background-color: red;
}

.container {
    background-color: orange;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.description {
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
}

.ingredients {
    background-color: pink;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.steps {
    background-color: rgb(33, 237, 234);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.ingredients ul,
.steps ol {
    text-align: left;
    display: inline-block;
}