body {
    background-color: green;
}

.container {
    background-color: orange;
    text-align: center;
    width: 900px;
    margin: auto;
    border: 15px red solid;
}

.recipes {
    text-align: center;
    display: inline-block;
    background-color: aqua;
    width: 175px;
    padding: 16px;
    border: 4px brown solid;
    margin-bottom: 40px;
}

.container h1 {
    color: brown;
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#title{
    background-color: blue;
    padding: 2px;
    margin: 100px;
    border: 10px purple solid;
    margin-top: 3px;
}

#tomato {
    color: red;
}

#corned-beef-roast {
    color: blueviolet;
}

#pasta-e-fagioli {
    color: yellow;
}

#tomato, 
#corned-beef-roast, 
#pasta-e-fagioli {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}